:root {
  --color-main: #888;
  --color-white: #fff;
  --color-link: #7000ff;
  --color-bg-header: #262626;
  --aside-width: 300px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 26px;
}

a {
  text-decoration: none;
  color: var(--color-link);
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
.section-title {
  font-family: "Open Sans", sans-serif;
}

p,
li {
  margin-top: 8px;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

/* HEADER */
.header {
  color: var(--color-white);
  background-color: var(--color-bg-header);
}
.header-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.profile-name {
  font-size: 48px;
  line-height: 80px;
}
.profile-job {
  text-align: end;
  font-size: 20px;
}
.header-avatar {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
/* /HEADER */

/* MAIN */
.main-content {
  display: flex;
  flex-wrap: wrap;
}
.section {
  padding: 20px;
}
.section-main {
  width: calc(100% - var(--aside-width) - 80px);
}
.section-aside {
  align-self: start;
  width: var(--aside-width);
}
.section-title {
  margin-bottom: 15px;
  font-size: 28px;
  text-transform: capitalize;
}
.section-link:hover {
  text-decoration: none;
}
.section-link:hover .link-text {
  border-bottom: 1px solid var(--color-link);
}
.link-img {
  display: inline-block;
  margin-bottom: -7px;
}
.link-text {
  display: inline-block;
  margin-left: 5px;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
}
.carrier-title {
  font-weight: 700;
}
.carrier-info {
  display: block;
  margin-left: 15px;
}
.carrier-item {
  list-style-type: disc;
  margin-left: 35px;
}
.code-desc {
  display: block;
  margin-bottom: 5px;
}
.code-snippet {
  width: max-content;
  padding: 0 20px;
  font-size: 14px;
  line-height: 20px;
  background-color: #eee;
}
/* /MAIN */

/* FOOTER */
/* /FOOTER */
